<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="keywords" content="irc,ircnet">
  <title>{% if page.title %}{{ page.title }} - {% endif %}IRCnet</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="alternate" type="application/atom+xml" href="{{ site.production_url }}{{ site.atom_path }}" title="News posts (Atom)">
</head>
<body>
  <div id="main">
    <header>
      <h1>{{ site.title }}</h1>
    <header>
 
    <nav role="navigation">
      <ul>
        <li><a href="/" title="News">News</a></li>
        <li><a href="/connecting" title="Connecting to IRCnet">Connecting</a></li>
        <li><a href="/webchat" title="Webchat">Webchat</a></li>
        <li><a href="/faq" title="Frequently asked questions">FAQ</a></li>
        <li><a href="/articles" title="Articles about the network">Articles</a></li>
      </ul>
   </nav>
 
    <div id="content">
    {% if page.title %}<h2>{{page.title}}</h2>{% endif %}
    {{ content }}
    </div>
 
    <footer>
      <p>&copy; {% if page.copyright %}{{ page.copyright }}{% else %}{{ site.copyright }}{% endif %}</p>
    </footer>
 
  </div>
</body>
</html>
